@import "#/assets/styles/global.scss";

#logo-tcc {
  color: $titlePrimaryColor;
  font: $fontLogo;
}

h2 {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 4.6rem;
  margin-top: 0.8rem;
  color: $textPrimaryColor;
}

