$backgroundColor: #f0f0f7 !default;
$primaryLighterColor: #9871f5 !default;
$primaryLightColor: #916bea !default;
$primaryColor: #8257e5 !default;
$primaryDarkColor: #774dd6 !default;
$primaryDarkerColor: #6842c2 !default;
$secondaryColor: #04d361 !default;
$secondaryDarkColor: #04bf58 !default;
$titlePrimaryColor: #ffffff !default;
$textPrimaryColor: #d4c2ff !default;
$textTitleColor: #32264d !default;
$textComplementColor: #9c98a6 !default;
$textBaseColor: #6a6180 !default;
$lineWhiteColor: #e6e6f0 !default;
$inputBackgroundColor: #f8f8fc !default;
$buttonTextColor: #ffffff !default;
$boxBaseColor: #ffffff !default;
$boxFooterColor: #fafafc !default;

$successColor: #319688 !default;
$errorColor: #f30106 !default;
$dangerColor: #f30106 !default;
$warningColor: #dfc168 !default;

:export {
    backgroundColor: $backgroundColor;
    primaryLighterColor: $primaryLighterColor;
    primaryLightColor: $primaryLightColor;
    primaryColor: $primaryColor;
    primaryDarkColor: $primaryDarkColor;
    primaryDarkerColor: $primaryDarkerColor;
    secondaryColor: $secondaryColor;
    secondaryDarkColor: $secondaryDarkColor;
    titlePrimaryColor: $titlePrimaryColor;
    textPrimaryColor: $textPrimaryColor;
    textTitleColor: $textTitleColor;
    textComplementColor: $textComplementColor;
    textBaseColor: $textBaseColor;
    lineWhiteColor: $lineWhiteColor;
    inputBackgroundColor: $inputBackgroundColor;
    buttonTextColor: $buttonTextColor;
    boxBaseColor: $boxBaseColor;
    boxFooterColor: $boxFooterColor;

    success_colorColor: $successColor;
    error_colorColor: $errorColor;
    danger_colorColor: $dangerColor;
    warning_colorColor: $warningColor;
}
