@import "#/assets/styles/colors.scss";
@import "#/assets/styles/typography.scss";
@import "#/assets/styles/responsive.scss";

$borderRadius: 4px;
$baseline: 8px;

$z-index: (
    modal: 10,
    select: 20,
    tooltip: 20,
    datepicker: 20,
    dropdown: 20,
    loader: 40,
    toast: 50,
);

$background: $background_color !default;
$primary: $primary_color !default;
$secondary: $secondary_color !default;
$secondary_dark: $secondary_dark_color !default;
$success: $success_color !default;
$error: $error_color !default;
$danger: $danger_color !default;
$warning: $warning_color !default;

:export {
    error: $error;
    danger: $danger;
    success: $success;
    warning: $warning;
    primary: $primary;
    baseline: $baseline;
    secondary: $secondary;
    borderRadius: $borderRadius;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#root {
    color: white;
    background-color: $background;
    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
}