$responsiveSm: 576px;
$responsiveMd: 768px;
$responsiveLg: 1024px;
$responsiveXLg: 1366px;
$responsiveXXLg: 1800px;

/* stylelint-disable */
:export {
  responsiveSm: $responsiveSm;
  responsiveMd: $responsiveMd;
  responsiveLg: $responsiveLg;
  responsiveXLg: $responsiveXLg;
  responsiveXXLg: $responsiveXXLg;
}
